/* to do: add media queries */
/* to do: fade out from home page to game page */
/* change to nunito sans font */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(to right, #FF8000, #00E054, #40BCF4);
    /* font-family: "Libre Baskerville", serif; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: "Nunito Sans", sans-serif;
    color: #202830;
}
a:visited{
    color: blue;
}
.Home{
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 100%;
    height: 100vh;
}
.vertical-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    /* align-items: center; */
    /* top: 50%;
    transform: translate(0, -50%); */
    text-align: center;
}
.Home img{
    height: 225px;
    max-width: 100%;
    margin: 26.8px;
}
.Footer{
    position: fixed;
    bottom:0;
    left:0;
    width: 100%;
    font-size: 0.7rem;
    /* margin-top: auto; */
    margin-bottom: 8px;
    margin-left: 8px;
    text-align: center;
}
.app-title{
    margin: 0;
    font-weight: 1400;
    font-size: 2.7rem;
}
#play-game-btn{
    margin: 26.8px;
    /* vertical-align: middle; */
    border: none;
    border-radius: 8px;
    height: 50px;
    background-color: #FF8000;
    color: white;
    width: 75%;
    font-size: 1.3rem;
    box-shadow: 3px 3px 15px #e47200;
    transition: background-color 0.15s ease-in;
    /* transition: transform 0.1s ease-in; */
    font-family: "Nunito Sans", sans-serif;
}
.bounce-animation {
    animation: bounce 1s;
}
#play-game-btn:hover{
    background-color: #ff8c18;
    transform: scale(1.035);
    cursor: pointer;
    transition: transform 0.1s ease-in;
}
.high-score-home{
    margin:0;
    font-size: 1.5rem;
}
.Game{
    max-width: 100%;
    min-height: 100%;
    height: 100vh;
}
.films{
    display: flex;
    justify-content: center;
    height:100vh;
    text-align: center;
    /* width:; */
    overflow: hidden;
}
.films div{
    width: 50%;
}
.Film{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* position: absolute; */
    /* align-items: center; */
    /* top: 50%;
    transform: translate(0, -50%); */
    text-align: center;

    word-wrap: break-word;
    min-height: 100%;
    min-width: 100%;
    /* white-space: pre-wrap;
    word-break: break-word;  */

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}
.Film div{
    max-width: 90%;
    width: fit-content;
}
.Film * {
    background-color: white;
    max-width: 95%;
    /* width:min-content; */
    margin-left: auto;
    margin-right: auto;
    /* width: 500%; */
    padding: 4px;
    border-radius: 8px;
}
.Film:hover{
    cursor: pointer;
}
.film-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height: 100%;
    padding:0;
    background-color: transparent;
}
.Film:hover * h1{
    transform: scale(1.045);
    transition: transform 0.1s ease-in;
}
#right-film-box, #left-film-box{
    display: flex;
}
#film-slide-in{
    transform: translateY(-100%);
    animation: slide-down-in 1s forwards;
}
#film-slide-out{
    animation: slide-down-out 1s;
}
.score{
    position: absolute;
    top:0;
    font-size: 1.5rem;
    padding:5px;
    background-color: white;
    border-radius: 0 0 8px 0;
    animation: fade-in 1s forwards;
}
/* .film-info{
    min-width: 75%;
}
.film-info *{
    max-width: 200%;
} */
.film-rating{
    font-size: 25px;
    position:absolute;
    left:50%;
    bottom: 25%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    color: #FFD700;
    line-height: 100%;
    padding:4px;
    animation: fade-in 0.5s forwards
}
.film-rating h3{
    color: #202830;
    width:max-content;
    margin:0;
}
.film-rating svg{
    margin:0;
}
.prompt{
    width: max-content;
    text-align: center;
    position: absolute;
    max-width: 80%;
    top: 14%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding:8px;
    font-size: 1.45rem;
    background-color: white;
    border-radius: 8px;
    animation: fade-in 1s forwards;
}
.prompt h3{
    /* max-width: 80%;
    width: max-content; */
}
.prompt-text{
    width: auto;
}
.app-fade-out{
    animation: fade-out 1s forwards;
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes slide-down-in {
    100% { transform: translateY(0%); }
}
@keyframes slide-down-out {
    0% { transform: translate(-100%, 0%); }
    100% { transform: translate(-100%, 100%); }
}